.call{
    font-size:1.7vw;  
    /* color: grey; */
    padding: 2%;
    
    
}

.call h2{
    color: rgb(9, 45, 45);
    padding-bottom: 2%;
    
}
.call h4{
    display: inline;
    display: flex;
  

    /* justify-content: center; */
}
