#teacher-contact-info {
  background-image: url("https://thumbs.dreamstime.com/b/communicate-icon-seamless-pattern-wifi-network-more-42345705.jpg");
   background-color: rgb(1, 16, 16);
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}


.teacher-card {
  width: 800px;
  background-color:rgb(83, 168, 168);
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto 20px;
  box-shadow: 0 2px 4px rgb(132, 117, 33);
}

.teacher-card h2 {
  margin-top: 0;
}

.teacher-card p {
  margin-bottom: 5px;
}