*{
    margin: 0;
    padding: 0;
}
.components{
    background-image:url(../image/fbg.jpg);
    justify-content: center;
    background-position: center;
    background-size: cover;
   
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
   
    background-attachment: scroll;
    background-attachment: fixed;
   
    /* filter: blur(.1px) brightness(40%); */
}
h1{
    color: rgb(21, 199, 199);
}